//devtools.genome.one/nexus/repository/npm-private/:_authToken=751f5fa6-d315-3b02-931b-bca75000f1a1
//devtools.genome.one/nexus/repository/npm-group/:_authToken=751f5fa6-d315-3b02-931b-bca75000f1a1
registry=https://devtools.genome.one/nexus/repository/npm-group/
